# 📌 Fichiers inutiles et temporaires
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# 📌 IntelliJ / Android Studio / VS Code
*.iml
*.ipr
*.iws
.idea/
/.vscode/

# 📌 Flutter/Dart/Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# 📌 Symbolication et Obfuscation
app.*.symbols
app.*.map.json

# 📌 Fichiers de build Android
/android/app/debug
/android/app/profile
/android/app/release

# 📌 Fichiers de configuration Firebase (⚠️ Sensibles, ne pas partager)
firebase.json
firestore.rules
database.rules.json
google-services.json
GoogleService-Info.plist
firestore-debug.log
firestore-indexes.json

# 📌 Fichiers spécifiques aux plateformes
linux/
macos/
windows/

# 📌 Archives et binaires inutiles
*.tar.xz
*.deb
*.apk
*.ipa

# 📌 JetBrains / IDEs
*.iml
.idea/
*.ipr
*.iws
*.jar


id_ed25519
id_ed25519.pub


# Ignore IDE configuration files
.idea/
.vscode/

# Ignore Firebase specific configuration files
.firebasesrc/

# Ignore Flutter specific configuration files
.metadata/

# Ignore the dependency lock file
pubspec.lock

# Ignore analysis files
analysis_options.yaml

# Ignore platform-specific files
android/
ios/
linux/
macos/
windows/
web/

# Ignore test files
test/
